[tool.poetry]
name = "magic-filter"
version = "0.1.0"
description = "This package provides magic filter based on dynamic attribute getter"
license = "MIT"
readme = "README.md"
repository = "https://github.com/aiogram/magic-filter/"
authors = ["Alex Root Junior <jroot.junior@gmail.com>"]
classifiers = [
	"Development Status :: 3 - Alpha",
	"License :: OSI Approved :: MIT License",
	"Programming Language :: Python :: 3.7",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
	"Topic :: Utilities",
	"Typing :: Typed",
]
keywords = [
	"magic",
	"filter",
	"validation"
]

include = ["magic_filter/py.typed"]
build = "build.py"

[tool.poetry.dependencies]
python = "^3.6.1"

[tool.poetry.dev-dependencies]
pre-commit = "^2.4.0"
pytest = "^5.2"
mypy = "^0.770"
black = "^19.10b0"
flake8 = "^3.8.1"
isort = {extras = ["pyproject"], version = "^4.3.21"}

[tool.black]
line-length = 99
target-version = ['py37', 'py38']
exclude = '''
(
    \.eggs
  | \.git
  | \.tox
  | build
  | dist
  | venv
  | docs
)
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 99
known_third_party = []

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
